<div>

    <h1>@ViewBag.title</h1>

    @*TODO #1: Use a loop to display job results in a table.*@      

    <table class="customstripe">   
        @foreach(var item in ViewBag.jobs)
        {
            <tr>
                   <td>Id</td>
                   <td>@item.Id</td>
            </tr>
            <tr>
                   <td>Name</td>
                   <td>@item.Name</td>
            </tr>
            <tr>
                  <td>Employer</td>
                  <td>@item.Employer</td>
            </tr>
            <tr>
                  <td>Location</td>
                  <td>@item.Location</td>
            </tr>     
            <tr>
                  <td>Position Type</td>
                  <td>@item.PositionType</td>
            </tr>   
            <tr>
                  <td>Skill</td>
                  <td>@item.CoreCompetency</td>
            </tr>    
        }     
    </table>  
</div>